<!--
<nav class="container-fluid d-flex flex-column flex-md-row justify-content-between padded-10px gray-background">
    <a class="py-2" href="#" aria-label="Product">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mx-auto" role="img" viewBox="0 0 24 24">
                <title>Product</title>
                <circle cx="12" cy="12" r="10" />
                <path
                    d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94" />
            </svg>
    </a>
    <a class="py-2 d-md-inline-block" href="#">Tour</a>
    <a class="py-2 d-md-inline-block" href="#">Product</a>
    <a class="py-2 d-md-inline-block" href="#">Features</a>
    <a class="py-2 d-md-inline-block" href="#">Enterprise</a>
    <a class="py-2 d-md-inline-block" href="#">Support</a>
    <a class="py-2 d-md-inline-block" href="#">Pricing</a>
    <a class="py-2 d-md-inline-block" href="#">Cart</a>
</nav>
-->
<nav class="navbar navbar-expand-sm flex-column flex-md-row navbar-dark fixed-top bg-dark justify-content-between padded-10px">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Fixed navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item active">
                    <a class="nav-link" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>